.App{
    background-color: #ccc;
    font-family: "monserrat";
}
.title {
    background-color: #ffffff;
    color: #140101;
}
.title h4{
    font-family: "monserrat";
    font-size: 25px;
    margin-top: 10px;
    margin-left: 3%;
    text-align: left;
    font-weight: 500;
}

.row{
    padding-right: 20px;
    padding-left: 20px;
    gap: 25px;
}

.header h6{
    margin-top: 10px;
    color: #585757;
    font-weight: bold;
}
.field-items{
    margin-right: 10px;
    text-align: right;
    flex-direction: column;
    align-items: center;
}
.input-field {
    align-items: center;
  }
.input-field label {
    margin-right: 35px;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
  
input[type="number"] {
    width: 100px;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 0px;
    margin-bottom: 5px;
}
 button {
    background-color: #d5d5d8;
    color: #000000;
    padding: 4px;
    width: 40px;
    border: 1px solid #ccc ;
    border-radius: 0px;
}
hr{
  border: 0.5px solid #ccc;
}
.button-style{
    text-align: right;
    margin-bottom: 20px;
}
.calculate-type{
    text-align: center;
    font-weight: 700;
}

.calculate-type .p1{
    margin-top: 10px;
    align-items: center;
    font-size: 30px;
    color:#f31414;
    font-weight: bold;
}
.calculate-type .p2{
    align-items: center;
    font-weight: bold;
    color:#585757;
}
.calculate-type .p3{
    align-items: center;
    font-weight: bold;
    color:#585757; 
}
.calculate-type .p{
    font-size: 25px;
    align-items: center;
    font-weight: 500;
}
.about{
    margin: 25px;
    justify-content: center;
}
.about-heading h5{
    margin-top: 10px;
    color: #585757;
    font-weight: 700;
}
  .text-list h6{
    color: #222020;
    font-weight: 700;
  }
  .text-list hr{
    margin-bottom: 20px;
  }
  .image{
    align-items: center;
  }
  .main{
    margin: 25px;
    justify-content: center;
}
.main h5{
    color: #585757;
    margin-top: auto;
    font-weight: 700;
}
  .main-item  h6{
    color: #1b1a1a;
    font-weight: 700;
  }
  .main-group h6{
    color: #161616;
    font-weight: 700;
  }

@media (max-width: 600px)
{
    .field-items{
        text-align: left;
        flex-direction: column;
        align-items: center;
    }
    .input-field {
        align-items: center;
      }  
    input[type="number"] {
        width: 85%;
    }
     button {
        width: 15%;
    }
    .text-list{
        align-items: center;
    }
     .image{
        align-items: center;
     }
}
@media (max-width:992px){
    .field-items{
        text-align: left;
        flex-direction: column;
    }
    .input-field {
        align-items: center;
      }  
    input[type="number"] {
        width: 85%;
    }
     button {
        width: 15%;
    }
    .about-directions{
        flex-direction:column;
    }
    .image{
        align-items: center;
     }
}